.tabbedPanel {
    width: 500px;
    margin: 10px auto;
}

.tabbedGroup {
    list-style: none;
    padding: 0;
    margin: 0 0 0 10px;
}

.tab {
    width: 60px;
    height: 2em;
    background-color: #09F;
    float: left;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    text-align: center;
    line-height: 2em;
}

.contentGroup {
    clear:both;
}

.selectedTab {
    background-color:#ccc;
}

.content {
    display: none;
    background-color: #ccc;
    height: 250px;
}

.selectedContent {
    display: block;
}