body, div {
    margin: 0;
    padding: 0;
}

table {
    width: 600px;
    margin: 30px auto;
    border: 1px dotted #0000CC;
    border-radius: 10px;
    background: -webkit-linear-gradient(bottom right, #0099CC, #eeeeaa, #4FFD4F);
    box-shadow: 0px 0px 5px 5px #003333;
}

tr {
    height: 30px;
}

th {
    font-size: 20px;
    width: 100px;
    cursor: pointer;
}

th:first-child {
    width: 50px;
}

td {
    width: 100px;
    text-align: center;
}
tr td:first-child {
    width: 50px;
}



